body {
  background-color: black;
}

.jumbotron {
  text-align: center;
  /* background-color: transparent; */
  color: white;
  /* border-radius: 0; */
  border-bottom: 5px solid white;
  /*border: 50px;*/
}
.fas {
  color: maroon;
  font-size: 75px;
}

.row {
  /* relative to the font-size of the root element */
  margin-top: 2rem;
  margin-left: 4rem;
  white-space: pre-wrap;
  height: 80px;
  display: flex;
}

.userInput {
  background-color: white;
  font-size: large;
  color: #000000;
  border: 3px solid black;
  padding: 55px;
  text-align: center;
  height: 10px;
}
.container {
  height: 600px;
  width: 400px;
  background-color: gray;
  margin-top: 20px;
  float: left;
  padding-top: 10px;
  margin-left: 150px;
}

.search-container {
  position: relative;
  top: 200px;
  /* margin-top: 200px;
  margin-left: 300px; */
  /* font-size: unset; */
}

.book {
  width: 280px;
  height: 420px;
  /* transform: translate(-50%, -50%); */
  top: 50%;
  left: 50%;
  background: #f33139;
  border-radius: 20px 16px 12px 32px;
  background-image: linear-gradient(
    to right,
    #d11f2f 48px,
    #ba0716 50px,
    transparent 50px
  );
  /* box-shadow:  2px 6px 40px 0px #FEA600 */
}
.book:after {
  height: 52px;
  width: 274px;
  bottom: 6px;
  right: 0px;
  background: white;
  border-radius: 32px 4px 4px 32px;
  box-shadow: inset 4px 6px 0px 0px #e4e0ce;
  /* background-image: linear-gradient(
    to bottom,
    transparent 6px,
    #e4e0ce 8px,
    transparent 8px,
    transparent 12px,
    #e4e0ce 12px,
    transparent 14px,
    transparent 18px,
    #e4e0ce 18px,
    transparent 20px,
    transparent 24px,
    #e4e0ce 24px,
    transparent 26px,
    transparent 30px,
    #e4e0ce 30px,
    transparent 32px,
    transparent 36px,
    #e4e0ce 36px,
    transparent 38px,
    transparent 42px,
    #e4e0ce 42px,
    transparent 44px,
    transparent 48px,
    #e4e0ce 48px,
    transparent 50px
  );
} */
  /* .inputContainer{ */
}

.inputContainer {
  padding: 0;
  align-items: center;
  text-align: center;
}

.recipeDiv {
  background-color: white;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  text-align: center;
}

.spoon {
  text-align: center;
}
.ingredient-return {
  color: white;
}

h1 {
  font-size: 100px;
  font-family: Fantasy;
  margin: 0;
}

.lead {
  font-size: 30px;
  font-family: Fantasy;
}
